@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/double_news.css" rel="stylesheet" />
<link href="~/Content/3tin1lienquan.css" rel="stylesheet" />
<link href="~/Content/notify.css" rel="stylesheet" />
<div class="menuChildMobile"></div>
<div class="Hust_Trangchu" id="main-content" role="main">
    <div class="portlet-layout row-fluid hust-dong1">
        <div class="portlet-column portlet-column-only span12" id="column-1">
            <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-1">
                <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_Adk7MMYD7tl3_">
                    <span id="p_56_INSTANCE_Adk7MMYD7tl3"></span> <div class="portlet-borderless-container" style="">
                        <div class="portlet-body">
                            <div class="journal-content-article">
                                <a>
                                    <img src="~/images/banner web_2.jpg" />
                                </a>
                            </div> <div class="entry-links"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-layout row-fluid hust-dong2">
        <div class="portlet-column portlet-column-only span12 hust-layout" id="column-2">
            <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-2">
                <div class="portlet-boundary portlet-boundary_118_ portlet-static portlet-static-end portlet-borderless portlet-nested-portlets " id="p_p_id_118_INSTANCE_beGMs8FdEwgB_">
                    <span id="p_118_INSTANCE_beGMs8FdEwgB"></span> <div class="portlet-borderless-container" style="">
                        <div class="portlet-body">
                            <div class="Layout_93" id="_118_INSTANCE_beGMs8FdEwgB_main-content" role="main">
                                <div class="portlet-layout row-fluid">
                                    <div class="portlet-column portlet-column-first span9" id="_118_INSTANCE_beGMs8FdEwgB_column-1">
                                        <div class="portlet-dropzone portlet-column-content portlet-column-content-first" id="layout-column__118_INSTANCE_beGMs8FdEwgB__column-1">
                                            <div class="portlet-boundary portlet-boundary_1_WAR_portalnewspublisherportlet_ portlet-static portlet-static-end portal-newspublisher-portlet " id="p_p_id_1_WAR_portalnewspublisherportlet_INSTANCE_rXMrbrxSPxpp_">
                                                <span id="p_1_WAR_portalnewspublisherportlet_INSTANCE_rXMrbrxSPxpp"></span> <section class="portlet" id="portlet_1_WAR_portalnewspublisherportlet_INSTANCE_rXMrbrxSPxpp">
                                                    <header class="portlet-topper"> <div class="portlet-fulltitle"> <h1 class="portlet-title"> <span class="" onmouseover="Liferay.Portal.ToolTip.show(this, 'Tin\x20tức')"> <img id="rjus__118_INSTANCE_beGMs8FdEwgB__column1_0" src="/portal-newspublisher-portlet/icon.png" alt="" /> <span class="taglib-text hide-accessible">Tin tức</span> </span> <span class="portlet-title-text">Tin tức</span> </h1> </div> <menu class="portlet-topper-toolbar" id="portlet-topper-toolbar_1_WAR_portalnewspublisherportlet_INSTANCE_rXMrbrxSPxpp" type="toolbar"> </menu> </header> <div class="portlet-content">
                                                        <div class=" portlet-content-container" style="">
                                                            <div class="portlet-body">
                                                                <div class="news-wrapper ">
                                                                    <div class="hust-tintuc ">
                                                                        @Html.Action("TopTinTuc", "TinTuc")
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-column portlet-column-last span3" id="_118_INSTANCE_beGMs8FdEwgB_column-2">
                                        <div class="portlet-dropzone portlet-column-content portlet-column-content-last" id="layout-column__118_INSTANCE_beGMs8FdEwgB__column-2">
                                            <div class="portlet-boundary portlet-boundary_1_WAR_portalnewspublisherportlet_ portlet-static portlet-static-end portal-newspublisher-portlet " id="p_p_id_1_WAR_portalnewspublisherportlet_INSTANCE_n4LtYPEQ4ynU_">
                                                <span id="p_1_WAR_portalnewspublisherportlet_INSTANCE_n4LtYPEQ4ynU"></span>
                                                <section class="portlet" id="portlet_1_WAR_portalnewspublisherportlet_INSTANCE_n4LtYPEQ4ynU">
                                                    <header class="portlet-topper">
                                                        <div class="portlet-fulltitle">
                                                            <h1 class="portlet-title">
                                                                <span class="" onmouseover="Liferay.Portal.ToolTip.show(this, 'Tin\x20nổi\x20bật')">
                                                                    <img id="owel__118_INSTANCE_beGMs8FdEwgB__column2_0" src="/portal-newspublisher-portlet/icon.png" alt="" />
                                                                    <span class="taglib-text hide-accessible">Tin nổi bật</span>
                                                                </span> <span class="portlet-title-text">Tin nổi bật</span>
                                                            </h1>
                                                        </div> <menu class="portlet-topper-toolbar" id="portlet-topper-toolbar_1_WAR_portalnewspublisherportlet_INSTANCE_n4LtYPEQ4ynU" type="toolbar"> </menu>
                                                    </header>
                                                    <div class="portlet-content">
                                                        <div class=" portlet-content-container" style="">
                                                            <div class="portlet-body">
                                                                <div class="news-wrapper ">

                                                                    <div class="hust-tintuc hasShowMoreNews">
                                                                        <ul class="news-ul3-Ex" style="margin: 0px; margin-top: -11px !important;">
                                                                            @Html.Action("TopHot", "TinTuc")
                                                                        </ul>
                                                                        <a class="icon-detail" style="color: #9c1010; font-family: Calibri; margin-left: 2px; font-size: 16px; text-decoration: none;" title="> Xem tất cả" href="@Url.Action("Index","TinTuc")"> &gt; Xem tất cả </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-layout row-fluid hust-mau">
        <div class="portlet-column portlet-column-only span12 hust-layout" id="column-3">
            <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-3">
                <div class="portlet-boundary portlet-boundary_118_ portlet-static portlet-static-end portlet-borderless portlet-nested-portlets " id="p_p_id_118_INSTANCE_HRpcnnZJEdnl_">
                    <span id="p_118_INSTANCE_HRpcnnZJEdnl"></span> <div class="portlet-borderless-container" style="">
                        <div class="portlet-body">
                            <div class="Layout_93" id="_118_INSTANCE_HRpcnnZJEdnl_main-content" role="main">
                                <div class="portlet-layout row-fluid">
                                    <div class="portlet-column portlet-column-first span9" id="_118_INSTANCE_HRpcnnZJEdnl_column-1">
                                        <div class="portlet-dropzone portlet-column-content portlet-column-content-first" id="layout-column__118_INSTANCE_HRpcnnZJEdnl__column-1">
                                            <div class="portlet-boundary portlet-boundary_1_WAR_portalnewspublisherportlet_ portlet-static portlet-static-end portal-newspublisher-portlet " id="p_p_id_1_WAR_portalnewspublisherportlet_INSTANCE_xtsjMBVfDWw0_">
                                                <span id="p_1_WAR_portalnewspublisherportlet_INSTANCE_xtsjMBVfDWw0"></span> <section class="portlet" id="portlet_1_WAR_portalnewspublisherportlet_INSTANCE_xtsjMBVfDWw0">
                                                    <header class="portlet-topper"> <div class="portlet-fulltitle"> <h1 class="portlet-title"> <span class="" onmouseover="Liferay.Portal.ToolTip.show(this, 'Thông\x20báo')"> <img id="rjus__118_INSTANCE_HRpcnnZJEdnl__column1_0" src="/portal-newspublisher-portlet/icon.png" alt="" /> <span class="taglib-text hide-accessible">Thông báo</span> </span> <span class="portlet-title-text">Thông báo</span> </h1> </div> <menu class="portlet-topper-toolbar" id="portlet-topper-toolbar_1_WAR_portalnewspublisherportlet_INSTANCE_xtsjMBVfDWw0" type="toolbar"> </menu> </header> <div class="portlet-content">
                                                        <div class=" portlet-content-container" style="">
                                                            <div class="portlet-body">
                                                                <div class="news-wrapper ">
                                                                    @Html.Action("TopTB", "TinTuc")
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div> <div class="portlet-column portlet-column-last span3" id="_118_INSTANCE_HRpcnnZJEdnl_column-2">
                                        <div class="portlet-dropzone portlet-column-content portlet-column-content-last" id="layout-column__118_INSTANCE_HRpcnnZJEdnl__column-2">
                                            <div class="portlet-boundary portlet-boundary_hustevent_WAR_DemoSpringMVCportlet_ portlet-static portlet-static-end portlet-borderless first-demo-spring-mvc-portlet " id="p_p_id_hustevent_WAR_DemoSpringMVCportlet_INSTANCE_ogAHu9DnkXVD_">
                                                <span id="p_hustevent_WAR_DemoSpringMVCportlet_INSTANCE_ogAHu9DnkXVD"></span> <div class="portlet-borderless-container" style="">
                                                    <div class="portlet-body">
                                                        <label class="hust-event-title"><a href="http://www.hust.edu.vn/su-kien-sap-dien-ra">Sự kiện sắp diễn ra</a></label>
                                                        <style>
                                                            .hust-event-title {
                                                                font-size: 21px !important;
                                                                text-transform: uppercase;
                                                                font-weight: initial !important;
                                                                margin-left: 8px;
                                                                margin-top: 20px;
                                                                margin-bottom: 20px !important;
                                                            }

                                                                .hust-event-title a {
                                                                    font-family: Arial !important;
                                                                    color: #9e100e !important;
                                                                }

                                                            .hust-event {
                                                                width: 100%;
                                                                height: 45px;
                                                                max-width: 100%;
                                                                padding: 10px;
                                                                margin-bottom: 10px;
                                                            }

                                                            .img-event {
                                                                float: left;
                                                                width: 60px;
                                                                height: 40px;
                                                                background: #9c100f;
                                                                margin-top: 10px; /* Dành cho Safari and Chrome */
                                                                display: -webkit-box;
                                                                -webkit-box-align: center;
                                                                -webkit-box-pack: center; /* W3C */
                                                                display: box;
                                                                box-align: center;
                                                                box-pack: center;
                                                                text-align: center;
                                                                line-height: -moz-block-height;
                                                            }

                                                            .text-event {
                                                                float: left;
                                                                max-width: 68%;
                                                                margin-left: 10px;
                                                                font-weight: normal;
                                                                height: 60px;
                                                                max-height: 60px; /* Dành cho Safari and Chrome */
                                                                overflow: hidden;
                                                                display: -webkit-box;
                                                                -webkit-box-align: center;
                                                                -webkit-box-pack: center; /* W3C */
                                                                display: box;
                                                                box-align: center;
                                                                box-pack: center;
                                                                display: -moz-box;
                                                                -moz-box-align: center;
                                                                -moz-box-pack: center;
                                                            }

                                                            .img-date-event {
                                                                color: white;
                                                                display: -moz-box;
                                                                vertical-align: middle;
                                                                margin: 0 auto;
                                                                text-align: center;
                                                                font-size: 15px;
                                                                font-weight: bold;
                                                            }
                                                        </style> <a href="https://www.hust.edu.vn/home?p_auth=aDcmdNPz&p_p_id=hustevent_WAR_DemoSpringMVCportlet_INSTANCE_ogAHu9DnkXVD&p_p_lifecycle=1&p_p_state=normal&p_p_mode=view&p_p_col_id=_118_INSTANCE_HRpcnnZJEdnl__column-2&p_p_col_count=1&_hustevent_WAR_DemoSpringMVCportlet_INSTANCE_ogAHu9DnkXVD_action=seeMore"> <div class="hust-event"> <div class="img-event"> <span class="img-date-event"> 18 / 04 </span> </div> <div class="text-event">Ngày hội tư vấn: Học thạc sĩ - Cơ hội học bổng và nghề nghiệp</div> </div> </a> <a class="icon-detail" title="Xem tất cả" style="color: #9c1010 !important; font-size: 15px !important; margin-left: 10px; font-family: Calibri;" href="/web/vi/su-kien"> Xem tất cả </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="portlet-layout row-fluid hust-dong3">
            <div class="portlet-column portlet-column-only span12 hust-layout" id="column-4">
                <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-4">
                    <div class="portlet-boundary portlet-boundary_118_ portlet-static portlet-static-end portlet-nested-portlets " id="p_p_id_118_INSTANCE_mLBQF8xX3ANx_">
                        <span id="p_118_INSTANCE_mLBQF8xX3ANx"></span> <section class="portlet" id="portlet_118_INSTANCE_mLBQF8xX3ANx">
                            <header class="portlet-topper"> <div class="portlet-fulltitle"> <h1 class="portlet-title"> <span class="" onmouseover="Liferay.Portal.ToolTip.show(this, 'Tuyển\x20sinh')"> <img id="rjus_column4_0" src="https://www.hust.edu.vn/images/spacer.png" alt="" style="background-image: url('https://www.hust.edu.vn/sprite/html/icons/_sprite.png'); background-position: 50% -304px; background-repeat: no-repeat; height: 16px; width: 16px;" /> <span class="taglib-text hide-accessible">Tuyển sinh</span> </span> <span class="portlet-title-text">Tuyển sinh</span> </h1> </div> <menu class="portlet-topper-toolbar" id="portlet-topper-toolbar_118_INSTANCE_mLBQF8xX3ANx" type="toolbar"> </menu> </header> <div class="portlet-content">
                                <div class=" portlet-content-container" style="">
                                    <div class="portlet-body">
                                        <div class="columns-2" id="_118_INSTANCE_mLBQF8xX3ANx_main-content" role="main">
                                            <div class="portlet-layout row-fluid">
                                                <div class="portlet-column portlet-column-first span6" id="_118_INSTANCE_mLBQF8xX3ANx_column-1">
                                                    <div class="portlet-dropzone portlet-column-content portlet-column-content-first" id="layout-column__118_INSTANCE_mLBQF8xX3ANx__column-1">
                                                        <div class="portlet-boundary portlet-boundary_1_WAR_portalnewspublisherportlet_ portlet-static portlet-static-end portlet-borderless portal-newspublisher-portlet " id="p_p_id_1_WAR_portalnewspublisherportlet_INSTANCE_KYzqU5oHArIs_">
                                                            <span id="p_1_WAR_portalnewspublisherportlet_INSTANCE_KYzqU5oHArIs"></span> <div class="portlet-borderless-container" style="">
                                                                <div class="portlet-body">
                                                                    <div class="news-wrapper ">
                                                                        <div class="double-news">
                                                                            <div class="news-left even first">
                                                                                <div class="double-image-title">
                                                                                    <a href="http://www.hust.edu.vn/tuyensinhdaihoc" title="Chỉ tiêu tuyển sinh dự kiến các ngành năm 2018">
                                                                                        <img src="~/images/wellcome.jpg" />
                                                                                    </a>
                                                                                </div> <div class="content-left"> <a class="content-title" href="http://www.hust.edu.vn/tuyensinhdaihoc" title="Thông tin tuyển sinh"> Đại học </a> <div class="summaryDouble"> Thí sinh đăng ký xét tuyển vào Trường Đại học Bách khoa Hà Nội nếu có đủ điều kiện tham gia tuyển sinh đại học theo quy định tại Quy chế tuyển... </div> <a class="red" href="http://www.hust.edu.vn/tuyensinhdaihoc" title="Xem chi ti&#7871;t"> Xem chi ti&#7871;t </a> </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-column portlet-column-first span6" id="_118_INSTANCE_mLBQF8xX3ANx_column-1">
                                                    <div class="portlet-dropzone portlet-column-content portlet-column-content-first" id="layout-column__118_INSTANCE_mLBQF8xX3ANx__column-1">
                                                        <div class="portlet-boundary portlet-boundary_1_WAR_portalnewspublisherportlet_ portlet-static portlet-static-end portlet-borderless portal-newspublisher-portlet " id="p_p_id_1_WAR_portalnewspublisherportlet_INSTANCE_KYzqU5oHArIs_">
                                                            <span id="p_1_WAR_portalnewspublisherportlet_INSTANCE_KYzqU5oHArIs"></span> <div class="portlet-borderless-container" style="">
                                                                <div class="portlet-body">
                                                                    <div class="news-wrapper ">
                                                                        <div class="double-news">
                                                                            <div class="news-left even first">
                                                                                <div class="double-image-title">
                                                                                    <a href="http://www.hust.edu.vn/tuyensinhdaihoc" title="Chỉ tiêu tuyển sinh dự kiến các ngành năm 2018">
                                                                                        <img src="~/images/wellcome.jpg" />
                                                                                    </a>
                                                                                </div> <div class="content-left"> <a class="content-title" href="http://www.hust.edu.vn/tuyensinhdaihoc" title="Thông tin tuyển sinh"> Đại học </a> <div class="summaryDouble"> Thí sinh đăng ký xét tuyển vào Trường Đại học Bách khoa Hà Nội nếu có đủ điều kiện tham gia tuyển sinh đại học theo quy định tại Quy chế tuyển... </div> <a class="red" href="http://www.hust.edu.vn/tuyensinhdaihoc" title="Xem chi ti&#7871;t"> Xem chi ti&#7871;t </a> </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>*@
</div>