
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Hust_Lienhe" id="main-content" role="main">
    <div class="portlet-layout row-fluid row1">
        <div class="portlet-column portlet-column-only span12" id="column-1">
            <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-1">
                <div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-borderless portlet-journal-content " id="p_p_id_56_INSTANCE_yd78OfBuCUK2_">
                    <span id="p_56_INSTANCE_yd78OfBuCUK2"></span> <div class="portlet-borderless-container" style="">
                        <div class="portlet-body">
                            <div class="journal-content-article">
                                <img src="~/images/00_big.jpg" />
                            </div> <div class="entry-links"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <div class="portlet-layout row-fluid row2">
        <div class="portlet-column portlet-column-only span12" id="column-2">
            <div class="portlet-dropzone portlet-column-content portlet-column-content-only" id="layout-column_column-2">
                <div class="portlet-boundary portlet-boundary_1_WAR_htmlportlet_ portlet-static portlet-static-end portlet-borderless html-portlet " id="p_p_id_1_WAR_htmlportlet_INSTANCE_tV3pQigphWlH_">
                    <span id="p_1_WAR_htmlportlet_INSTANCE_tV3pQigphWlH"></span> <div class="portlet-borderless-container" style="">
                        <div class="portlet-body">
                            <meta charset="UTF-8" /> <div class="conTact">
                                <div class="containerct">
                                    <div class="rows"> <h2>Liên hệ</h2> </div> <div class="cols-sm-7">
                                        <div class="rows">
                                            <div class="left">
                                                <div class="rows row_trai">
                                                    <div class="cols-sm-4 anhlienhe">
                                                        <img class="anhto" src="~/images/cl.jpg" />
                                                    </div> <div class="cols-sm-8 noidung"> <h4>Phòng Hành chính Tổng hợp</h4> <div class="rows"> <div class="cols-sm-2 anhnho"><img alt="" class="img-responsive" src="/documents/21257/45354/icon_home.png/0b342833-89d1-4d7c-9a2e-83cebe10d0b1?t=1467281055167" style="opacity: 0.1; color: rgb(69, 69, 69);" /></div> <div class="cols-sm-10"> <h5><span style="font-size:18px;">Địa chỉ</span></h5> <p><span style="font-size:18px;">Nhà C1-114, 215, 217</span></p> </div> </div> <div class="rows"> <div class="cols-sm-2 anhnho"><img alt="" class="img-responsive" src="/documents/21257/45354/icon_phone.png/f8fb0b0d-6160-4e6e-850d-e458b105174e?t=1467281055309" style="opacity: 0.1; color: rgb(69, 69, 69);" /></div> <div class="cols-sm-10"> <h5><span style="font-size:18px;">Điện thoại</span></h5> <p><span style="font-size:18px;">04.3869 4242</span></p> <p><img alt="" src="/documents/21257/45354/14009813_1100991649971099_1794092375_n.png/effb5151-7e6f-4752-99f8-25cbf32e4d1e?t=1470931760676" style="height: 30px; width: 30px;" />&nbsp; &nbsp; &nbsp;&nbsp;<span style="font-size:18px;"><span style="color:#B22222;">Email:</span>&nbsp;Khammouane.edu.vn</span></p> </div> </div> <hr /></div>
                                                </div> <!-- end rows --> <div class="rows row_trai">
                                                    <div class="cols-sm-4 anhlienhe">
                                                        <img class="anhto" src="~/images/hoptac.jpg" />
                                                    </div> <div class="cols-sm-8 noidung"> <h4>Phòng&nbsp;Hợp tác quốc tế</h4> <div class="rows"> <div class="cols-sm-2 anhnho"><img alt="" class="img-responsive" src="/documents/21257/45354/icon_home.png/0b342833-89d1-4d7c-9a2e-83cebe10d0b1?t=1467281055167" style="opacity: 0.1; color: rgb(69, 69, 69);" /></div> <div class="cols-sm-10"> <h5><span style="font-size:18px;">Địa chỉ</span></h5> <p><span style="font-size:18px;">Nhà C1-212</span></p> </div> </div> <div class="rows"> <div class="cols-sm-2 anhnho"><img alt="" class="img-responsive" src="/documents/21257/45354/icon_phone.png/f8fb0b0d-6160-4e6e-850d-e458b105174e?t=1467281055309" /></div> <div class="cols-sm-10"> <h5><span style="font-size:18px;">Điện thoại</span></h5> <p><span style="font-size:18px;">04.38:69 3796, 3868 3197</span></p> <p><img alt="" src="/documents/21257/45354/14009813_1100991649971099_1794092375_n.png/effb5151-7e6f-4752-99f8-25cbf32e4d1e?t=1470931760676" style="height: 30px; color: rgb(128, 128, 128); width: 30px;" />&nbsp; &nbsp; &nbsp;<span style="font-size:18px;"><span style="line-height: 2; color: rgb(128, 0, 0);">Email:&nbsp;</span><span style="line-height: 2;">htqt</span><a href="ite@hust.edu.vn" style="line-height: 1;"><span style="color:#808080;"><span class="redtext">@@hust.edu.vn</span></span></a></span></p> </div> </div> </div>
                                                </div> <!-- end rows --> <div class="rows row_trai">
                                                    <div class="cols-sm-4 anhlienhe">
                                                        <img class="anhto" src="~/images/pm.jpg" />
                                                    </div> <div class="cols-sm-8 noidung"> <h4>Trung tâm Truyền thông - &nbsp;Quan hệ công chúng</h4> <div class="rows"> <div class="cols-sm-2 anhnho"><img alt="" class="img-responsive" src="/documents/21257/45354/icon_home.png/0b342833-89d1-4d7c-9a2e-83cebe10d0b1?t=1467281055167" style="opacity: 0.1; color: rgb(69, 69, 69);" /></div> <div class="cols-sm-10"> <h5><span style="font-size:18px;">Địa chỉ</span></h5> <p><span style="font-size:18px;">P924- &nbsp; Thư viện&nbsp;Tạ Quang Bửu</span></p> </div> </div> <div class="rows"> <div class="cols-sm-2 anhnho"><img alt="" class="img-responsive" src="/documents/21257/45354/icon_phone.png/f8fb0b0d-6160-4e6e-850d-e458b105174e?t=1467281055309" style="opacity: 0.1; color: rgb(69, 69, 69);" /></div> <div class="cols-sm-10"> <h5><span style="font-size:18px;">Điện thoại</span></h5> <p><span style="font-size:18px;">04.3.868 0898/ 04.3 623 1732</span></p> <p><img alt="" src="/documents/21257/45354/14009813_1100991649971099_1794092375_n.png/effb5151-7e6f-4752-99f8-25cbf32e4d1e?t=1470931760676" style="height: 30px; color: rgb(128, 128, 128); width: 30px;" />&nbsp; &nbsp; &nbsp;<span style="font-size:18px;"><span style="line-height: 2;"><span style="color:#800000;">Email:</span> c<span style="color:#696969;">cpr</span><a href="ite@hust.edu.vn" style="line-height: 1;"><span style="color:#696969;"><span class="redtext">@@hust.edu.vn</span></span></a></span></span></p> </div> </div> </div>
                                                </div> <!-- end rows -->
                                            </div> <!-- end left -->
                                        </div> <!-- end rows -->
                                    </div> <!-- end cols-sm-6 --> <div class="right">
                                        <div class="cols-sm-5">
                                            <div class="rows">
                                                <div class="bando">
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d17712.47131986818!2d105.79822165809527!3d21.049148606953537!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1524105767230" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                                </div> <!-- end bando -->
                                            </div> <!-- end rows --><!-- <div class="rows socail-icon"> <h3>Liên kết qua mạng xã hội</h3> <p><img alt="" class="img-responsive first" src="/documents/21257/45354/facebook.gif/4afb20b8-51d2-4359-8c41-8b0fd0499d26?t=1467281055014" /> <img alt="" class="img-responsive" src="/documents/21257/45354/youtube.gif/eac89305-c08f-42f7-8795-92f8643ef3ae?t=1467281054313" /> <img alt="" class="img-responsive" src="/documents/21257/45354/linkedin.gif/06053432-353e-4e79-b1ad-431a30d3c5b5?t=1467281053903" /></p> </div> --> <div class="rows sendPhanhoi"> <div class="phanhoi"> <div class="phanhoi-chuthich"> <p><br /> Nếu bạn cần hỗ trợ,&nbsp;hãy gửi&nbsp;thông tin&nbsp;vào biểu mẫu dưới đây. Chúng tôi sẽ cố gắng&nbsp;phản hồi sớm nhất&nbsp;!</p> </div> <div class="rows"> <div class="cols-sm-10 cols-sm-push-1"> <div class="form-noidung"> <form action="#" enctype="text/plain" method="POST" role="form"> <div class="form-group"><input class="form-control" id="" placeholder="Name*" required="" type="text" /> <input class="form-control" id="" placeholder="Email*" required="" type="email" /><textarea class="form-control" id="message" placeholder="Nhập nội dung tin nhắn của bạn" required="" rows="7"></textarea></div> <button class="btn btn-primary" type="submit">Gửi đi</button></form> </div> </div> </div> <!-- end rows --></div> <!-- end phanhoi --></div> <!-- end rows -->
                                        </div> <!-- end cols-sm-5 -->
                                    </div>
                                </div>
                            </div>
                            <style type="text/css">
                                .conTact {
                                    font-family: Calibri !important
                                }

                                    .conTact .cols-sm-7 {
                                        width: 50%;
                                        float: left
                                    }

                                    .conTact .right {
                                        float: left;
                                        width: 50%
                                    }

                                    .conTact textarea#message {
                                        line-height: 1.3;
                                        font-family: arial;
                                        font-size: 15px;
                                        margin-top: 20px
                                    }

                                    .conTact input.form-control {
                                        line-height: 2.4;
                                        margin-top: 20px
                                    }

                                    .conTact .right p {
                                        line-height: 1.3;
                                        font-size: 17px
                                    }

                                    .conTact .cols-sm-2.anhnho {
                                        margin-top: 4px;
                                        float: left;
                                        margin-right: 20px;
                                        width: 8%
                                    }

                                    .conTact .cols-sm-7 {
                                        width: 50%;
                                        float: left
                                    }

                                    .conTact .right button.btn.btn-primary {
                                        background-color: #ad0000;
                                        border-color: #ad0000;
                                        border-radius: 0;
                                        font-size: 15px;
                                        padding: 7px 35px;
                                        margin-top: 20px;
                                        margin-bottom: 20px;
                                        color: white
                                    }

                                        .conTact .right button.btn.btn-primary:hover {
                                            background-color: #770c0c
                                        }

                                    .conTact label {
                                        font-weight: 500;
                                        opacity: .7;
                                        margin: 25px 0 10px 0;
                                        display: block;
                                        font-size: 18px
                                    }

                                    .conTact .phanhoi-chuthich {
                                        opacity: .7;
                                        font-stretch: normal;
                                        font-size: 15px;
                                        margin-bottom: 10px
                                    }

                                    .conTact .rows.socail-icon {
                                        margin-bottom: 30px
                                    }

                                    .conTact .right .socail-icon img.img-responsive {
                                        display: inline-block;
                                        max-width: 50px;
                                        margin-left: 20px
                                    }

                                        .conTact .right .socail-icon img.img-responsive.first {
                                            margin-left: 0
                                        }

                                    .conTact .chu {
                                        position: absolute;
                                        top: 16px;
                                        color: white;
                                        font-size: 16px;
                                        margin-left: 25px
                                    }

                                    .conTact .thanhngang {
                                        position: relative;
                                        width: 97%;
                                        margin: auto;
                                        margin-left: 9px
                                    }

                                    .conTact .chuthich {
                                        position: absolute;
                                        top: 266px
                                    }

                                    .conTact .bando {
                                        position: relative;
                                        margin-top: 33px
                                    }

                                    .conTact .left .cols-sm-10 {
                                        padding-left: 0;
                                        margin-top: 4px
                                    }

                                    .conTact .rows.row_trai {
                                        margin-top: 15px;
                                        clear: both
                                    }

                                    .conTact .cols-sm-8.noidung {
                                        padding: 0;
                                        float: left;
                                        width: 55%
                                    }

                                    .conTact h2 {
                                        color: #9f2729;
                                        font-weight: 500;
                                        font-size: 26px;
                                        margin-bottom: 0
                                    }

                                    .conTact .right h3 {
                                        color: black;
                                        opacity: .6;
                                        font-weight: normal;
                                        font-size: 22px !important;
                                        margin: 20px 0
                                    }

                                    .conTact .left hr {
                                        width: 45%;
                                        margin-left: 18px;
                                        margin-top: 20px;
                                        opacity: .3
                                    }

                                    .conTact .left p {
                                        color: gray;
                                        margin: 3px 0
                                    }

                                    .conTact .left h5 {
                                        color: #9f2729;
                                        margin: 4px 0;
                                        font-size: 17px;
                                        font-weight: 500
                                    }

                                    .conTact .anhnho img.img-responsive {
                                        max-width: 100%;
                                        opacity: .1
                                    }

                                    .conTact .left {
                                        color: #454545
                                    }

                                        .conTact .left h4 {
                                            font-size: 18px;
                                            font-weight: 600;
                                            color: #454545;
                                            opacity: .9;
                                            font-family: arial;
                                            margin-bottom: 25px
                                        }

                                    .conTact img.anhto {
                                        max-width: 100%;
                                        overflow: hidden;
                                        margin-top: 15px
                                    }

                                    .conTact .anhlienhe {
                                        width: 185px;
                                        height: 185px;
                                        overflow: hidden;
                                        position: relative;
                                        margin-right: 30px;
                                        margin-top: 10px;
                                        float: left
                                    }

                                        .conTact .anhlienhe img {
                                            height: 100%;
                                            max-height: 100%;
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            max-width: none;
                                            transform: translateX(-50%) translateY(-50%);
                                            -webkit-transform: translateX(-50%) translateY(-50%);
                                            -moz-transform: translateX(-50%) translateY(-50%);
                                            -o-transform: translateX(-50%) translateY(-50%);
                                            -ms-transform: translateX(-50%) translateY(-50%)
                                        }

                                    .conTact .form-group .form-control {
                                        width: 400px
                                    }

                                    .conTact .form-noidung button {
                                        background: #9c1010 !important
                                    }

                                    .conTact .sendPhanhoi {
                                        border-top: 1px solid #ccc;
                                        padding-top: 10px
                                    }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 